[submodule "presets"]
	path = presets
	url = https://github.com/jmdaemon/cmake-presets
[submodule "cmake"]
	path = cmake
	url = https://github.com/jmdaemon/cmake-modules
[submodule "subprojects/utility"]
	path = subprojects/utility
	url = https://github.com/jmdaemon/utility
[submodule "themes/doxygen-awesome-css"]
	path = themes/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
