[submodule "presets"]
	path = presets
	url = https://github.com/jmdaemon/cmake-presets
[submodule "cmake"]
	path = cmake
	url = https://github.com/jmdaemon/cmake-modules
[submodule "subprojects/utility"]
	path = subprojects/utility
	url = https://github.com/jmdaemon/utility
